flows.json
[
    {
        "id": "a4c78c613590e589",
        "type": "tab",
        "label": "Fluxo Monetario",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "tab_btc",
        "type": "ui_tab",
        "name": "💵 Cotações",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "group_btc",
        "type": "ui_group",
        "name": "Cotação BTC",
        "tab": "tab_btc",
        "order": 1,
        "disp": true,
        "width": "12"
    },
    {
        "id": "0d6a9b7e6cca0d59",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "tab_fx",
        "type": "ui_tab",
        "name": "💰 Cotações",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "group_fx",
        "type": "ui_group",
        "name": "Cotações",
        "tab": "tab_fx",
        "order": 1,
        "disp": true,
        "width": "12"
    },
    {
        "id": "inject_usd",
        "type": "inject",
        "z": "a4c78c613590e589",
        "name": "Atualizar USD",
        "props": [],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "x": 180,
        "y": 180,
        "wires": [
            [
                "http_usd"
            ]
        ]
    },
    {
        "id": "http_usd",
        "type": "http request",
        "z": "a4c78c613590e589",
        "name": "Buscar USD",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://economia.awesomeapi.com.br/json/last/USD-BRL",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 390,
        "y": 180,
        "wires": [
            [
                "func_usd"
            ]
        ]
    },
    {
        "id": "func_usd",
        "type": "function",
        "z": "a4c78c613590e589",
        "name": "Processar USD",
        "func": "msg.payload = Number(msg.payload.USDBRL.bid);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 180,
        "wires": [
            [
                "gauge_usd"
            ]
        ]
    },
    {
        "id": "gauge_usd",
        "type": "ui_gauge",
        "z": "a4c78c613590e589",
        "name": "Dólar",
        "group": "group_fx",
        "order": 1,
        "width": 4,
        "height": 4,
        "gtype": "donut",
        "title": "💵 Dolar (USD)",
        "label": "R$",
        "format": "{{value | number:2}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b894",
            "#ffeaa7",
            "#d63031"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 850,
        "y": 180,
        "wires": []
    },
    {
        "id": "inject_eur",
        "type": "inject",
        "z": "a4c78c613590e589",
        "name": "Atualizar EUR",
        "props": [],
        "repeat": "60",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "x": 180,
        "y": 300,
        "wires": [
            [
                "http_eur"
            ]
        ]
    },
    {
        "id": "http_eur",
        "type": "http request",
        "z": "a4c78c613590e589",
        "name": "Buscar EUR",
        "method": "GET",
        "ret": "obj",
        "url": "https://economia.awesomeapi.com.br/json/last/EUR-BRL",
        "x": 390,
        "y": 300,
        "wires": [
            [
                "func_eur"
            ]
        ]
    },
    {
        "id": "func_eur",
        "type": "function",
        "z": "a4c78c613590e589",
        "name": "Processar EUR",
        "func": "msg.payload = Number(msg.payload.EURBRL.bid);\nreturn msg;",
        "outputs": 1,
        "x": 600,
        "y": 300,
        "wires": [
            [
                "gauge_eur"
            ]
        ]
    },
    {
        "id": "gauge_eur",
        "type": "ui_gauge",
        "z": "a4c78c613590e589",
        "name": "Euro",
        "group": "group_fx",
        "order": 2,
        "width": 4,
        "height": 4,
        "gtype": "donut",
        "title": "💶 Euro (EUR)",
        "label": "R$",
        "format": "{{value | number:2}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#0984e3",
            "#ffeaa7",
            "#d63031"
        ],
        "x": 830,
        "y": 300,
        "wires": []
    },
    {
        "id": "inject_btc",
        "type": "inject",
        "z": "a4c78c613590e589",
        "name": "Atualizar BTC",
        "props": [],
        "repeat": "60",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "x": 180,
        "y": 420,
        "wires": [
            [
                "http_btc"
            ]
        ]
    },
    {
        "id": "http_btc",
        "type": "http request",
        "z": "a4c78c613590e589",
        "name": "Buscar BTC",
        "method": "GET",
        "ret": "obj",
        "url": "https://economia.awesomeapi.com.br/json/last/BTC-BRL",
        "x": 410,
        "y": 420,
        "wires": [
            [
                "func_btc"
            ]
        ]
    },
    {
        "id": "func_btc",
        "type": "function",
        "z": "a4c78c613590e589",
        "name": "Processar BTC",
        "func": "msg.payload = Number(msg.payload.BTCBRL.bid);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 420,
        "wires": [
            [
                "gauge_btc"
            ]
        ]
    },
    {
        "id": "gauge_btc",
        "type": "ui_gauge",
        "z": "a4c78c613590e589",
        "name": "Bitcoin",
        "group": "group_fx",
        "order": 3,
        "width": 4,
        "height": 4,
        "gtype": "donut",
        "title": "₿ Bitcoin (BTC)",
        "label": "R$",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "5000000",
        "colors": [
            "#f7931a",
            "#ffeaa7",
            "#2d3436"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 830,
        "y": 420,
        "wires": []
    }
]